  <div class="footer mt-3 ">
    <div class="overlay"></div>
    <p class="m-0 position-relative">© 2023 Copyright: <span class="text-info"> Asmaa AbdelNasser</span></p>
    <p class="position-relative text-muted">API : TMDB & Firebase Auth API</p>
    <div class="social position-relative">
      <ul class="mb-0">
        <a href="https://www.linkedin.com/in/asmaa-abd-el-nasser-3a81461bb/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/asmaaAbdelNasser94" target="_blank"><i class="fa-brands fa-github"></i></a>
       </ul>
    </div>
  </div>
