<div class="container-fluid py-5">
    <div class=" row g-5 p-5 mb-4">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold" data-aos="fade-right" data-aos-duration="1000">About Trending Movies</h1>
        <p class="fs-5 text-muted mt-4" data-aos="fade-in" data-aos-delay="500" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloribus voluptates molestiae dolores maxime aliquam odit quasi in, nam ad facilis adipisci sint facere voluptatem, reprehenderit dolor iste soluta hic? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quae voluptas voluptates? Nihil delectus cumque quis suscipit nulla, repellat est, saepe sapiente facere blanditiis a possimus dolore excepturi. Sunt, necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
       <div data-aos="fade-left" data-aos-duration="1000" class="col-lg-6">
       <img class="img-fluid rounded shyadow" src="assets/imgs/Screenshot 2023-05-02 at 2.55.41 PM.png" alt="">
      </div>
    <!-- <button class="btn btn-light btn-lg mt-3" type="button">Example button</button> -->
  </div>
  </div>
  <ngx-http-loader [loader]="loader.MULTICIRCLE"[backdropBackgroundColor]="'#051523'"[iconColor]="'#0cdaf0'"[subTitle]="'Loading'"[subTitleColor]="'#0cdaf0'"[subTitleSize]="'40px'"></ngx-http-loader>
