<div class="movie-container mt-3 d-flex align-items-center">
  <div data-aos="zoom-in" data-aos-duration="1000" class="movieDetailes rounded-3"
  [ngStyle]="{'background-image': 'url('+ backgroundSrc + movieDetailes.backdrop_path +')'}">
  <div class="overlay rounded-3"></div>
  <div class="row movie-box p-5">
    <div class="col-lg-4 col-md-6 text-center">
      <img data-aos="fade-down-right" data-aos-delay="500"  data-aos-duration="1500" class="img-fluid movie-img rounded-3" [src]="imgSrc + movieDetailes.poster_path" alt="">
    </div>
    <div data-aos="fade-down-left" data-aos-delay="500" data-aos-duration="1500" class="col-lg-8 col-md-6 p-5">
      <div class="movie-desc">
        <h2><a [href]="movieDetailes.homepage" target="_blank">{{movieDetailes.title}}
          <span class="text-muted">({{movieDetailes.release_date | date : 'yyyy'}})</span>
          <i class="bi bi-arrow-up-right-square h6 ms-2 text-info"><small class="ms-2">Show More</small></i>
        </a>
      </h2>
      <p>{{movieDetailes.release_date | date : 'dd/MM/yyyy'}}

        <span *ngFor="let genres of movieDetailes.genres ; let i=index"
        class="bg-info mx-1 p-1 rounded fs-12">{{genres.name}}
        </span>

      </p>
      </div>

      <p class="text-muted fst-italic mt-5">{{movieDetailes.tagline}}</p>
      <p class="mt-4">Overview</p>
      <p>{{movieDetailes.overview}}</p>
      <p class="h4">{{movieDetailes.vote_average | number : '1.1-1'}}
        <i class="bi bi-star-half text-warning"></i>
      </p>
    </div>
  </div>
</div>
</div>
<ngx-http-loader [loader]="loader.MULTICIRCLE"[backdropBackgroundColor]="'#051523'"[iconColor]="'#0cdaf0'"[subTitle]="'Loading'"[subTitleColor]="'#0cdaf0'"[subTitleSize]="'40px'"></ngx-http-loader>
